@import "@/styles/mixins";
@import "@/styles/breakpoints";

.blockWrapper {
  display: none;
  // position: relative;
  @include media-min($breakpoint-tablet) {
    width: 60%;
    // height: 550px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    border: 1px solid var(--border);
    border-radius: 10px;
  }
  @include media-min($breakpoint-laptop) {
    width: 65%;
  }
}

.visible {
  @media screen and (max-width: 767px) {
    display: block;

    width: 100%;
    // border-radius: 10px;
  }
}
