.containerSelectedGoodsItem {
	width: 158px;
	min-height: 374px;
	height: 100%;
	display: flex;
	flex-direction: column;
	// gap: 18px;
	padding: 16px 12px;
	border: 1px solid rgba(184, 221, 5, 0.40);
	border-radius: 4px;
	// box-shadow: 3px 2px 2px #000000;
	// transition: box-shadow 250ms ease, transform 250ms ease;
}

.containerSelectedGoodsItem:hover {
	border: 1px solid rgba(184, 221, 5, 1);
	// transform: scale(1.02);
	// box-shadow: 5px 3px 3px #000000;
}

.imageWrapper {
	// width: 100%;
	// height: 100%;
	width: 134px;
	height: 193px;
	overflow: hidden;
	position: relative;
	// border: 1px solid var(--border);
	border-radius: 10px;
}

.image {
	object-fit: cover;
	height: 100%;
}

.stateWrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 12px;
}

.state {
	font-size: 14px;
	text-transform: uppercase;
	color: #028A00;
	padding: 4px 6px;
	background-color: #e7e6e6;
	border-radius: 4px;
}

.stateNotNew {
	color: #2e2c02;
}

.favouriteBtn {
	transition: transform 250ms ease;
	transform-origin: bottom right;
	width: 22px;
	height: 22px;
}

.favouriteBtn:hover {
	transform: scale(1.2);
}

.title {
	// font-weight: 700;
	min-height: 39px;
	margin: 6px 0;
}

.dateText {
	font-size: var(--body-mobile-text-small);
	color: #777676;
	margin-bottom: 24px;
}

// .priceWrapper {
// 	display: flex;
// 	flex-direction: row;
// 	justify-content: space-between;
// }

.price {
	font-weight: 700;
	margin-top: auto;
}