@import "@/styles/mixins";
@import "@/styles/breakpoints";

.iconsDataWrapper {
  width: 21px;
  height: 20px;
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    display: none;
  }

  & svg {
    margin: 0;
  }
}

.iconsDataLaptopWrapper {
  display: none;
  @include media-min($breakpoint-tablet) {
    display: flex;
    justify-content: space-between;
    column-gap: 0px;
    width: 44px;
  }
  @include media-min($breakpoint-laptop-large) {
    width: 52px;
  }
}
