@import "@/styles/mixins";
@import "@/styles/breakpoints";

.blockWrapper {
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 16px;
  @include media-min($breakpoint-tablet) {
    width: 81px;
  }
}
