.formRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 0px 20px;
  @media (min-width: 768px) {
  }
}

.togglePasswordButton {
  position: absolute;
  top: 36%;
  right: 15px;
}

.toggleConfirmPasswordButton {
  position: absolute;
  top: 36%;
  right: 15px;
}

.togglePasswordButton:hover {
  margin-left: 8px;
  cursor: pointer;
}

.submitButton {
  width: 260px;
  padding: 20px 0px;
  border-radius: 10px;
  margin-top: 8px;
  background: var(--not-active, #f5ffb6);
  @media (min-width: 375px) {
    width: 334px;
  }
  @media (min-width: 768px) {
    width: 420px;
    // padding: 20px 185px;
  }
}

.errorMessage {
  color: red;
  font-size: 12px;
  //   margin-top: 4px;
}

.errorImage {
  position: absolute;
  top: 36%;
  right: 15px;
}
