.blockWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  margin: 8px 0px;
  padding: 12px 40px;
}

.picture,
.noPicture {
  margin-right: 8px;
  // object-fit: cover;
  border-radius: 10%;
}

.noPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--bg-header-footer);
}

.textInfo {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: var(--large-body-medium);
}
