@import "../../../../../styles/mixins";
@import "../../../../../styles/breakpoints";

.sliderSection {
	padding-top: 24px;

	@include media-min($breakpoint-tablet) {
		padding-top: 32px;
	}

	@media (min-width: 1024px) {
		padding-top: 40px;

		position: relative;
		width: 100vw;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}
}