.windowModalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerModalTitle {
  font-weight: 600;
  font-size: 32px;
}

.registerModalText {
  font-weight: 400;
  font-size: 20px;
  margin-top: 62px;
  max-width: 420px;
}

.primaryButton {
  padding: 16px;
  border-radius: 10px;
  margin: 62px auto 26px;
  width: 100%;
}
