
.switchWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
} 

.label {
  font-size: 16px;
  color: var(--label);
}

.switch {
  position: relative;
  width: 53px;
  height: 32px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  left: 2px;
  top: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #B8DD05;
  right: 1;
}

input:checked + .slider::before {
  transform: translateX(20px);
}
