@use "@/styles/breakpoints" as *;
@use "@/styles/mixins" as *;

.containerMiddleCardsList {
	width: 100%;
	margin-top: 24px;
}

.middleCardsList {
	display: flex;
	flex-wrap: wrap;
	gap: 15px 9px;
	align-items: stretch;
	justify-content: space-around;

	@include media-min($breakpoint-tablet) {
		gap: 24px 9px;
	}

	@include media-min($breakpoint-laptop) {
		gap: 36px 9px;
	}
}

.middleCardsList li {
	flex: 0;
}

.middleCardsItem {
	@include media-min($breakpoint-laptop) {
		width: 48%;
	}
}