.containerSelectedGoodsList {
  width: 100%;
}

.selectedGoodsList {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}

@media only screen and (min-width: 768px) {
  .selectedGoodsList {
    gap: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .selectedGoodsList {
    gap: 47px;
  }
}
