@import "/src/styles/_breakpoints.scss";
@import "/src/styles/_mixins.scss";

.myAdvertItemContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-width: 335px;
  max-width: 1002px;
  height: 150px;
  justify-content: space-between;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  gap: 5px;
  padding: 4px;

  @include media-min($breakpoint-tablet) {
  display: flex;
    flex-direction: row;
    max-width: 1002px;
    height: 106px;
    justify-content: space-between;
  }
}

.itemImageBox {
  grid-area: 1 / 1 / 3 / 5;
  height: 96px;
  display: flex;
  flex-direction: row;
  gap: 10px;

  @include media-min($breakpoint-tablet) {
    display: flex;
      flex-direction: row;
      gap: 10px;
  }
}

.itemImage {
  border: 1px solid black;
  border-radius: 10px;
}

.itemTitleBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 85px;
}

.itemTitle {
  font-size: var(--large-body-medium);
}

.itemState {
  color: var(--success);
}

.itemStatsBox {
  grid-area: 1 / 5 / 3 / 6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.itemStats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.itemButtonBox {
  grid-area: 3 / 1 / 4 / 6;
  display: flex;
  flex-direction: row;
  // gap: 10px;
  align-items: center;
  justify-content: space-between;

  @include media-min($breakpoint-tablet) {
    gap: 10px;
  }
}

.itemButton {
  border: 1px solid black;
  border-radius: 10px;
  width: 135px;
  height: 39px;
}

.itemButtonNotActive {
  background-color: var(--button);
  border: none;
}

.itemDelButton {
  border: 1px solid black;
  border-radius: 10px;
  width: 48px;
  height: 39px;
}
