@import "@/styles/mixins";
@import "@/styles/breakpoints";

.listWrapper {
  // height: calc(100vh - 240px);
  overflow-y: auto;
  margin-top: 20px;
  padding: 0px 20px;

  @include media-min($breakpoint-tablet) {
    height: 635px;
    padding: 10px 0px;
    border-radius: 10px;
    border: 1px solid var(--border);
    margin-top: 0px;

    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #e5ff46;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #b3c638;
    }
  }
}

.listItem {
  border-bottom: solid 1px gray;
  &:last-child {
    border-bottom: none;
  }
}
