@import "../../../styles/mixins";
@import "../../../styles/breakpoints";

.infoComp {
  padding: 20px 22px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);

  @include media-min($breakpoint-tablet) {
    padding: 20px 30px;
  }

  @include media-min($breakpoint-laptop) {
    padding: 30px 40px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.description {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;

  @include media-min($breakpoint-laptop) {
    font-weight: 400;
  }
}

.text {
  font-size: 14px;

  @include media-min($breakpoint-laptop) {
    margin-top: 16px;
  }
}

.locationTitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;

  @include media-min($breakpoint-laptop) {
    font-weight: 400;
  }
}

.city {
  font-size: 16px;

  @include media-min($breakpoint-laptop) {
    font-size: 20px;
  }
}

.region {
  color: var(--input-text);

  @include media-min($breakpoint-laptop) {
    font-size: 16px;
  }
}

.mobileContent {
  @include media-min($breakpoint-tablet) {
    display: none;
  }
}

.deliveryTitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.appeal {
  color: var(--error);
  display: block;
  margin-top: 32px;
  text-align: end;

  @include media-min($breakpoint-laptop) {
    font-size: 16px;
  }
}

.locationInfo {
  display: flex;
  gap: 14px;
  align-items: center;
}

.locationSvg {
  width: 17.5px;
  height: 25px;
}
