@import "@/styles/breakpoints";
@import "@/styles/mixins";

.wrapperFilters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrapperSelectSection {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @include media-min($breakpoint-tablet) {
    position: relative;
    left: 50%;
    top: 80px;
    margin-left: -92px;
    margin-top: -60px;
    width: 200px;
  }
}

.showListFilters {
  display: flex;
  flex-direction: column;
}

.hideListFilters {
  display: none;
}
