@import "@/styles/mixins";
@import "@/styles/breakpoints";

.blockWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 10px;
  column-gap: 10px;
  @media (min-width: 425px) {
    column-gap: 10px;
  }
  @include media-min($breakpoint-tablet) {
    padding: 6px 8px;
    column-gap: 8px;
  }
  @include media-min($breakpoint-laptop-large) {
    padding: 14px 10px;
    column-gap: 14px;
  }
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  @include media-min($breakpoint-laptop-large) {
    width: 72px;
    height: 72px;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 8px;
  width: 140px;
  height: 49px;
  @media (min-width: 375px) {
    width: 60%;
  }
  @include media-min($breakpoint-tablet) {
    width: 50%;
  }
  @include media-min($breakpoint-laptop-large) {
    height: 55px;
    width: 228px;
  }
}

.title {
  @include media-min($breakpoint-tablet) {
    font-size: var(--body-text);
  }
  @include media-min($breakpoint-laptop-large) {
    font-size: var(--large-body-medium);
  }
}

.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--body-mobile-text);
  @include media-min($breakpoint-tablet) {
    font-size: 12px;
  }
  @include media-min($breakpoint-laptop-large) {
    font-size: var(--body-text);
  }
}

.hidden {
  display: none;
}
