@import "@/styles/breakpoints";
@import "@/styles/mixins";

.containerMinCard {
	width: 131px;
	display: flex;
	flex-direction: column;
	gap: 10px;

	@include media-min($breakpoint-tablet) {
		min-width: 451px;
		width: 100%;
		flex-direction: row;
		gap: 18px;
	}

	.imageWrapper {
		width: 123px;
		height: 100px;
		overflow: hidden;
		position: relative;
		border: 1px solid var(--border);
		border-radius: 10px;
		align-self: center;

		@include media-min($breakpoint-tablet) {
			width: 179px;
			height: 182px;
			flex-shrink: 0;
			align-self: flex-start;
		}
	}

	.image {
		object-fit: cover;
		width: 100%;

		// @include media-min($breakpoint-tablet) {
		// 	height: auto;
		// }
	}

	.state {
		font-size: var(--body-mobile-text-small);
		color: var(--success);
		margin-top: 6px;
		margin-bottom: 4px;

		@include media-min($breakpoint-tablet) {
			font-size: var(--large-body-medium);
			font-weight: 400;
		}
	}

	.title {
		font-weight: 400;
		font-size: 16px;

		@include media-min($breakpoint-tablet) {
			font-size: 36px;
			min-width: 150px;
			// min-height: 88px;
			margin-right: 40px;
			margin-top: 12px;
		}
	}

	.price {
		font-size: 20px;
		font-weight: 400;
		margin-top: 8px;

		@include media-min($breakpoint-tablet) {
			font-size: 40px;
			font-weight: 700;
			margin-top: 24px;
		}
	}

	&.minCardString {
		width: 100%;
		max-width: 614px;
		flex-direction: row;
		gap: 15px;

		.imageWrapper {
			width: 94px;
			height: 96px;
		}

		.title {
			font-size: var(--large-body-medium);
			font-weight: 400;
		}

		.state {
			font-size: var(--large-body-text);
		}

		.price {
			font-size: var(--large-body-medium);
			font-weight: 400;
		}

	}
}