.profileModal {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
.aboutMeIcon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: end;
}

.modalContent {
  position: relative;
  background: white;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  outline: none;
  width: 320px;
  height: 257px;
  margin-right: 20px;
}

.profileBubble{
  position: relative;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
}
.profileBubble::before{
  content: '';
  position: absolute;
  top: 20px;
  right: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}
.profileHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.profilePicture {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}

.profileOptions {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profileOptions li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.profileOptions li:hover {
  background-color: #f0f0f0;
}