@import "@/styles/_mixins";
@import "@/styles/_breakpoints";

/* .sectionContainer {
  
} */

.buttonList {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	font-size: 16px;
	// color: #777676;

	@include media-min($breakpoint-mobile) {
		font-size: 24px;
	}

	@include media-min($breakpoint-laptop) {
		font-size: 32px;
	}
}

.buttonList li {
	position: relative;

	button.titleToggle {
		color: #777676;
	}

	button {
		letter-spacing: 0.05em;
		transition: transform 0.35 ease-in-out;
	}

	button:hover {
		transform: scale(1.05);
	}
}

.buttonList li:first-child {
	margin-right: 18px;
}

.toggle {
	position: absolute;
	width: 100%;
	height: 4px;
	border: 2px solid var(--button);
	z-index: 40;
}

.separator {
	width: 100%;
	height: 2px;
	border: 1px solid var(--input-text);
}