@import "../../styles/mixins";
@import "../../styles/breakpoints";

.profileMenu {
  display: flex;
  width: 225px;

  @include media-min($breakpoint-tablet) {
    width: 225px;
    height: 361px;
    padding-top: 48px;
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .hidden {
    transform: translateX(-100%);
    display: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 225px;
  height: 361px;
}

.profileList {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: var(--body-text);
  row-gap: 15px;

  @include media-min($breakpoint-tablet) {
    row-gap: 20px;
    font-size: var(--large-body-medium);
  }
}

.profileListItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.itemLink {
  width: 100%;
  display: flex;
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #9d9d9d;

  @include media-min($breakpoint-tablet) {
    padding: 0px;
    border-bottom: 0px;
  }
}

.subMenuWrapper {
  display: none;
  @include media-min($breakpoint-tablet) {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 20px 0px 0px 40px;
    font-size: 16px;
  }
}

.subMenu {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 12px;
}

.subItemLink {
  display: flex;
  flex-direction: row;
  position: relative;
  font-size: 16px;
  padding-right: 16px;
}

.devider {
  border: 1px solid #9d9d9d;
  width: 1px;
  height: 358px;
  rotate: 180;
}

.marker {
  position: absolute;
  width: 3px;
  height: 29px;
  border: 1px solid var(--button);
  background-color: var(--button);
  right: -2px;
}
