#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  max-width: inherit;
  max-height: 108px;
  padding: 16px 60px 16px 60px;
}

nav {
  width: 424px;
  height: 39px;
  margin-right: 32px;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
}

nav span {
  flex: 0 0 33.333333%;
  width: 166px;
  height: 32px;
  padding-left: 8px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}