.categoryButtonBuy {
  border-bottom: 2px solid var(--label);
  padding: 10px 24px;
  width: 149px;
  height: 59px;

  font-size: 32px;
}

.categoryButtonSell {
  border: none;
  padding: 10px 13px;
  width: 150px;
  height: 59px;

  font-size: 32px;
}
