.errorModalTitle {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  max-width: 400px;
}

.primaryButton {
  padding: 16px;
  border-radius: 10px;
  margin: 62px auto 26px;
  width: 100%;
}
