@import "../styles/reset";
@import "../styles/fonts.scss";
@import "../styles/mixins";
@import "../styles/variables";

:root {
  --f-family: "Inter", Arial, sans-serif;

  // font size
  --f-size-h1: 36px;

  // colors
  --main-background: #F6F6F6;
  --background: #FFFFFF;
  --label: #000000;
  --input-text: #9D9D9D;

  --color-yellow: rgb(229, 255, 70);

  --button: #E5FF46;
  --not-active: #f5ffb6;

  --accent: #6735F4;
  --success: #29B126;
  --error: #FF5656;


}
