@import "@/styles/mixins";
@import "@/styles/breakpoints";

.pageWrapper {
  padding: 20px 0px 0px;
  margin-bottom: -54px;
  @include media-min($breakpoint-tablet) {
    padding: 0px;
    margin-bottom: 0px;
  }
  @include media-min($breakpoint-laptop-large) {
    padding: 20px 0px;
    margin-bottom: 0px;
  }
}

.headline {
  padding-left: 20px;
  padding-right: 20px;
  @include media-min($breakpoint-tablet) {
    padding: 0px 20px 31px;
  }
}

.chatBlockWrapper {
  display: flex;
  @include media-min($breakpoint-tablet) {
    column-gap: 15px;
    height: 550px;
    padding: 0px 20px;
  }
  @include media-min($breakpoint-laptop-large) {
    height: 720px;
    margin: 26px 0px 0px;
    padding: 0px 60px;
    column-gap: 35px;
  }
  // @media (min-width: 1024px) {
  //   height: 720px;
  //   margin: 26px 0px 0px;
  //   padding: 0px 60px;
  //   column-gap: 35px;
  // }
}
