@import "../../styles/mixins";
@import "../../styles/breakpoints";

// .headerContainer {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   padding: 16px 60px;

//   @include media-min($breakpoint-tablet) {
//     background-color: #b4b4b4;
//   }
// }

// .addAdvertisingContainer {
//   display: none;
//   @include media-min($breakpoint-tablet) {
//     background-color: #b4b4b4;
//     display: flex;
//     gap: 10px;
//   }
// }

.headerTag {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--f-size-small);
  background: #b4b4b4;
  border-bottom: 2px solid #000000;
  margin-bottom: 28px;

  @media (max-width: 480px) {
    border-bottom: none;
    background: #fff;
  }
}

.headerContainer {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  padding: 16px 60px;

  @media (max-width: 1000px) {
    gap: 10px;
    padding: 16px 30px;
  }

  @media (max-width: 600px) {
    padding: 10px 20px;
  }

  @media (max-width: 480px) {
    padding: 30px 0px 26px;
    justify-content: center;
  }
}

.addAdvertisingContainer {
  display: flex;
  align-items: center;

  @media (max-width: 480px) {
    display: none;
  }
}

.headerButton {
  display: none;
  border-radius: 10px;
  padding: 25px 45px;
  height: 39px;
  margin-right: 32px;
  font-size: 16px;
}

.hidden {
  display: none;
}
.registerContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 16px;
}
