.headerTag{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: var(--f-size-small);
   background: #B4B4B4;
   border-bottom: 2px solid #000000;
   margin-bottom: 40px;
  
   @media (max-width: 480px) {
    border-bottom: none;
    background: #fff;
   }
}

.headerContainer{
  width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 16px 60px;
  
   @media (max-width: 1000px) {
    gap: 10px;
    padding: 16px 30px;
   }
  
   @media (max-width: 600px) {
    padding: 10px 20px;
   }
  
   @media (max-width: 480px) {
    padding: 20px 0px 40px;
    justify-content: center;
   }
  }

  .addAdvertisingContainer{
   display: flex;
   align-items: center;
  
   @media (max-width: 480px) {
    display: none;
   }
  }

.headerButton {
  border-radius: 10px;
  padding: 28px 55px;
  height: 39px;
  margin-right: 28px;
  font-size: 20px;
  @media(max-width:480){
   font-size: 16px;
   padding: 12px 20px;
  }
}

.registerContainer{
   display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 16px;
}