@import "@/styles/mixins";
@import "@/styles/breakpoints";

.blockWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 9px 10px;
  @include media-min($breakpoint-tablet) {
    padding: 14px 10px;
  }
}

.image {
  @include media-min($breakpoint-tablet) {
    width: 72px;
    height: 72px;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 159px;
  height: 55px;
  @include media-min($breakpoint-tablet) {
    width: 228px;
  }
}

.title {
  @include media-min($breakpoint-tablet) {
    font-size: var(--large-body-medium);
  }
}

.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--body-mobile-text);
  @include media-min($breakpoint-tablet) {
    font-size: var(--body-text);
  }
}
