@import "../../../styles/mixins";
@import "../../../styles/breakpoints";

.sliderSection {
  padding-top: 40px;
  // padding-bottom: 60px;

  @include media-min($breakpoint-tablet) {
    padding-top: 60px;
  }

  :global {
    .slick-current {
      padding: 0 20px;

      @include media-min($breakpoint-tablet) {
        padding: 0 32px;
      }
    }

    .slick-slider {
      width: 100%;
    }

    .slick-dots {
      bottom: -40px !important;
      display: flex !important;
      justify-content: center;
      gap: 12px;

      li {
        margin: 0 !important;
        width: 8px !important;
        height: 8px !important;
        border-radius: 50%;
        background: #d9d9d9;

        button {
          padding: 0 !important;
          width: 8px !important;
          height: 8px !important;
          border-radius: 50%;
          background: #d9d9d9;

          &:before {
            display: none;
          }
        }

        &.slick-active button {
          background: var(--input-text);
        }
      }
    }
  }
}
