@import "@/styles/mixins";
@import "@/styles/breakpoints";

.buttonWrapper {
  width: 83.5px;
  padding: 10px 13px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;

  @include media-min($breakpoint-tablet) {
    width: 100px;
    padding: 8px 6px;
    font-size: var(--large-body-medium);
  }
}
