@import "@/styles/mixins";
@import "@/styles/breakpoints";

.blockWrapper {
  display: none;

  @include media-min($breakpoint-tablet) {
    display: block;
    width: 65%;
    border: 1px solid var(--border);
    border-radius: 10px;
  }
}
