@import "../../../../styles/mixins";
@import "../../../../styles/breakpoints";

.box {
  width: 100%;
  height: auto;
  position: relative;
}

.arrowBackBtn {
  position: absolute;
  top: -10%;
  left: 0;
  @include media-min($breakpoint-tablet) {
    display: none;
  }
}

.headline {
  font-size: var(--f-size-h4);
  @include media-min($breakpoint-laptop) {
    font-size: var(--f-size-h3);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 33px 0 0 0;
  gap: 33px;

  @include media-min($breakpoint-laptop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    // gap: 300px;
  }
}

.userImageBox {
  display: inline-flex;
  flex-direction: column;
  width: 140px;
  height: 100%;
  font-size: 14px;
  @include media-min($breakpoint-tablet) {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    width: 258px;
  }
}

.userImage {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  
  @include media-min($breakpoint-tablet) {
    width: 258px;
    height: 258px;
  }
}

.editText {
  display: flex;
  flex-direction: column;
  color: #6735f4;
  cursor: pointer;

  @include media-min($breakpoint-tablet) {
    align-self: center;
  }
}

.photoChangeText {
  margin-top: 4px;
  text-align: center;
}

.fileInput {
  position: absolute;
  display: none;
  cursor: pointer;
}

.changeImgModalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.previewText {
  font-size: larger;
}

.previewImg {
  width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;

    @include media-min($breakpoint-laptop) {
      width: 258px;
        height: 258px;
    }
}

.listBox {
    width: 335px;
  display: flex;
  flex-direction: column;
  
  @include media-min($breakpoint-laptop) {
    width: 427px;
    margin-top: 50px;
  }
}

.userData {
  width: 100%;
  margin-bottom: 41px;
  @include media-min($breakpoint-tablet) {
    margin-bottom: 20px;
  }
}

.changePassBtn {
  width: 186px;
  height: 44px;
  border-radius: 10px;
  align-self: flex-end;

  @include media-min($breakpoint-tablet) {
    width: 214px;
    height: 48px;
    border-radius: 10px;
    align-self: flex-start;
    // margin-bottom: 20px;
  }
}

.deleteBox {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 20px;

  @include media-min($breakpoint-tablet) {
    margin-top: 70px;
  }

  @include media-min($breakpoint-laptop) {
    margin-top: 90px;
  }
}

.deleteLink {
  color: #ff5656;
}

.editSvg {
  width: 26px;
  height: 26px;
}

.dangerZone {
  font-size: var(--large-body-medium);
  font-weight: 500;
}

.devider {
  width: 100%;
  height: 1px;
  border: 1px solid var(--input-text);
}

.separeteLine {
  width: 335px;
  fill: #9d9d9d;
  @include media-min($breakpoint-tablet) {
    width: 427px;
  }
}


.button {
  width: 186px;
  height: 44px;
  border-radius: 10px;
}
