@import "@/styles/mixins";
@import "@/styles/breakpoints";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
  padding: 0px 20px;
  max-width: 420px;
  min-width: 335px;
  @media (min-width: 768px) {
    min-width: 420px;
  }
}

.button {
  position: absolute;
  top: 30%;
  right: 15px;
}

.button:hover {
  cursor: pointer;
  margin-left: 8px;
}

.submitButton {
  width: 260px;
  padding: 20px 0px;
  border-radius: 10px;
  margin-top: 8px;
  background: var(--not-active);
  @media (min-width: 375px) {
    width: 100%;
  }
  @media (min-width: 768px) {
    width: 100%;
    // padding: 20px 185px;
  }
}

.activeColor {
  background: var(--button);
}

.errorMessage {
  color: red;
  font-size: 12px;
  //   margin-top: 4px;
}

.errorImage {
  position: absolute;
  top: 36%;
  right: 15px;
}

.passwordInput {
  width: 100%;
  height: 126px;
}
