@use "@/styles/breakpoints" as *;
@use "@/styles/mixins" as *;

.icon {
	margin: 0;
	width: 32px;
	height: 30px;

	@include media-min($breakpoint-tablet) {
		width: 24px;
		height: 22px;
	}

	@include media-min($breakpoint-laptop-large) {
		width: 32px;
		height: 30px;
	}
}

.iconsData {
	height: 18px;

	@include media-min($breakpoint-tablet) {
		width: 18px;
		height: 16px;
	}

	@include media-min($breakpoint-laptop) {
		width: 20px;
		height: 18px;
	}
}

// .folder {
//   display: none;
//   @media (min-width: 768px) {
//     display: block;
//   }
// }

// .trash {
//   display: block;
//   @media (min-width: 768px) {
//     display: none;
//   }
// }