.icon {
  margin: 0;
  width: 32px;
  height: 30px;
}

.iconsData {
  height: 18px;
}

.folder {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.trash {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}
