@import "../../styles/mixins";
@import "../../styles/breakpoints";

.footerTag {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #b4b4b4;
	margin-top: 124px;
	position: relative;

	@media (min-width: 768px) {
		// border-top: 3px solid #000000;
		margin-top: 48px;
		color: #fff;
		background: var(--bg-header-footer);
	}

	@media (min-width: 1200px) {
		// margin-top: 183px;
	}
}

.footerContainer {
	width: 100%;
	max-width: 1440px;
	display: none;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px 34px;
	flex-wrap: wrap;

	@media (min-width: 768px) {
		display: flex;
		align-items: flex-start;
		padding: 20px 40px 34px;
		gap: 48px;
	}

	@media (min-width: 1024px) {
		padding: 30px 60px 60px;
	}
}

.wrapperContent {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 870px) {
		display: block;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}
}

.hidden {
	display: none;

	@media (max-width: 870px) {
		display: block;
	}
}

.contactText {
	font-size: 19px;

	@media (max-width: 870px) {
		font-size: 16px;
	}

	@media (max-width: 646px) {
		font-size: 12px;
	}
}

// .wrapperInfo {

// }

.wrapperSearch {
	width: 62%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@media (min-width: 1024px) {
		display: block;
		width: 635px;
	}
}

.wrapperLogo {
	display: flex;
	// flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	// height: 150px;

	img {
		margin-right: 48px;
	}
}

.footerText {
	font-size: var(--large-body-medium);
	margin-bottom: 20px;
	// text-align: right;
	// width: 340px;

	@media (min-width: 1024px) {
		width: 100%;
		// text-align: start;
		font-size: var(--f-size-h4);
	}
}

.wrapperContent {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	row-gap: 24px;

	@media (min-width: 1024px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		row-gap: 0px;
	}
}

.contactContainer {
	display: flex;
	flex-direction: column;
	order: 3;
	gap: 16px;

	@media (max-width: 480px) {
		order: 2;
	}
}

.mailWrapper {
	display: flex;
	width: 100%;

	@media (min-width: 1024px) {
		width: auto;
	}
}

.social {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 15px;
}

.emailInput {
	padding: 17px 5px 17px 10px;
	width: 100%;
	border-radius: 10px 0px 0px 10px;
	border: 1px solid var(--not-active, #f5ffb6);
	background: var(--background, #fff);

	@media (min-width: 1024px) {
		width: 419px;
	}
}

.buttonSubscribe {
	border-radius: 0px 10px 10px 0px;
	padding: 22px 28px;
	height: 56px;
	font-size: 16px;
	position: relative;

	@media (min-width: 1024px) {
		padding: 26px 40px;
	}
}

.facebookIcon {
	margin: 0 16px 0 0;
	transition: transform 0.2s;
}

.instagramIcon {
	margin: 0;
	// fill: var(--button);
	// stroke-width: 1px;
	// stroke: var(--input-text);
	transition: transform 0.2s;
}

.facebookIcon:hover,
.instagramIcon:hover {
	transform: scale(1.05);
}

.marketPlace {
	width: 100%;
	display: none;

	height: 39px;
	justify-content: center;
	align-items: center;
	background-color: #3C3C3C;

	@media (min-width: 768px) {
		display: flex;
	}
}

.marketPlaceText {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}