.wrapper {
  background-color: #fff;
  padding: 10px 0;
  margin: 0 auto;
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.columns {
  display: flex;
  width: 100%;
}

.column {
  flex: 1;
  width: 100%;
  min-height: 80vh;
  max-height: 80vh;
  border-right: 1px solid #eee;
  overflow-y: auto;
  padding: 0 8px;
}
.column:last-child {
  border-right: none;
}

.item {
  width: 100%;
  padding: 12px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}
.item:hover,
.item:focus {
  background: var(--final-main-color1, #b8dd05);
  border-bottom: 1px solid var(--final-text-secondary, #777676);
}

.btnBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrowIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.itemActive {
  background: var(--final-main-color1, #b8dd05);
}

.label {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.16px;
  color: var(#131313);
}
