@use "@/styles/_mixins" as *;
@use "@/styles/_breakpoints" as *;

.searchSuggest {
	display: block;
	position: absolute;
	left: 0;
	top: calc(100% - 1px); // 100% + 7px
	z-index: 50;
	background: #fff;
	// width: calc(100% - 61px);
	width: 100%;
	overflow: hidden;
	padding: 19px 18px 0;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	flex-shrink: 0;
	border: 1px solid var(--button);
	border-radius: 10px;

	@include media-min($breakpoint-mobile) {
		width: 100%; // calc(100% - 98px)
		margin-left: 0;
		// border: 1px solid var(--label);
		border-radius: 12px;
		max-height: 510px;
		overflow: auto;
	}

	// @include media-min($breakpoint-tablet) {
	// 	width: calc(100% - 130px);
	// }

	// @media (min-width: 1024px) {
	// 	width: calc(100% - 140px);
	// }

	@include media-min(1370px) {
		max-height: 810px;
	}
}

// .searchTitle {
// 	font-size: 20px;
// 	font-weight: 600;
// 	margin-bottom: 8px;
// }

.titleCats {
	margin: 4px 16px;
	font-weight: 500;
	color: #777676;
}

.searchSection:nth-child(2) {
	margin-top: 24px;
}

.searchSectionTitle {
	margin: 4px 10px 4px 58px;
	font-weight: 600;
	// font-size: var(--large-body-medium);
	color: var(--label);
	letter-spacing: 2px; // 8% in maket
	text-transform: uppercase;


	/* For decorative highlighting
	position: relative;
	display: inline-flex;
	align-items: center;

	&::before,
	&::after {
		content: "";
		flex-shrink: 0;
		width: 30px;
		height: 0;
		border-top: 1px solid #B8DD05; // dashed
	}

	&::before {
		margin-right: 10px;
	}

	&::after {
		margin-left: 10px;
	}
	*/
}

.searchSuggestList {
	margin-bottom: 8px;

	/* For 2 column
	@include media-min(860px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		column-gap: 20px;
		// column-count: 2;
	}

	li {
		flex-basis: 45%;
	}
		*/
}

// .searchSuggestItem {}

.searchSuggestItem a {
	display: flex;
	flex-direction: column;
	min-height: 30px;
	padding: 8px 16px;
	cursor: pointer;

	.searchItemCategory strong,
	.searchLinkCatTitle {
		transition: all 0.2s ease;
	}
}


.searchSuggestItem a:hover {
	// background-color: #f5ffb6;

	.searchItemCategory strong {
		// text-decoration: underline solid var(--button) 2px;
		font-size: 110%;
	}

	.searchLinkCatTitle {
		// color: var(--button);
		font-size: 105%;
		font-weight: 700;
	}

}

.searchLinkItem {
	font-weight: 700;
	margin-bottom: 4px;
	letter-spacing: 1%;
}

.searchCount {
	// border: 1px solid var(--color-yellow);
	margin-left: 8px;
	border-radius: 50%;
	background-color: #E3F19B;
	color: var(--label);
	padding: 2px 7px;
	font-size: 14px;
	letter-spacing: 1%;
}

.searchItemCategory {
	font-size: 14px;
	color: var(--label);
}

.searchSuggestList .searchLinkCatLink {
	display: flex;
	flex-direction: row;
}

.searchLinkCatImg {
	border-radius: 50%;
	margin-right: 16px;
}

.searchLinkCatTitle {
	font-weight: 500;
	color: var(--label);
	margin-bottom: 4px;
	letter-spacing: 1%;
}

.searchEmptyWrapper {
	text-align: center;
	padding: 10px 5px 0;

	@include media-min($breakpoint-tablet) {
		padding: 35px 10px 20px;
	}

	img {
		max-width: 100%;
	}
}

.searchEmptyTitle {
	font-weight: 700;
	margin-bottom: 22px;
}