@use "@/styles/breakpoints" as *;
@use "@/styles/mixins" as *;

// .item {
//   width: 375px;
//   height: 260px;
//   padding: 0 10px;
// }

// .image {
//   width: 100%;
//   height: 100%;
// }

// .sliderContainer {
//   margin-top: 20px;

//   @include media-min($breakpoint-tablet) {
//     margin-top: 0;
//   }

//   @include media-min($breakpoint-laptop) {
//     max-width: 530px;
//   }

//   :global {
//     .slick-slider {
//       overflow: hidden;
//       border: none;
//       outline: none;
//       padding: 0;
//       position: relative;
//     }

//     .slick-slide {
//       padding: 0;
//       // background-color: lightcoral;
//     }

//     .slick-current {
//       padding: 0;

//       @include media-min($breakpoint-tablet) {
//         padding: 0;
//       }
//     }

//     .slick-dots {
//       position: absolute;
//       bottom: 14px !important;
//     }

//     .slick-dots li {
//       width: 14px !important;
//       height: 14px !important;
//     }

//     .slick-dots li.slick-active button {
//       width: 14px !important;
//       height: 14px !important;
//       background-color: var(--button);
//     }
//   }
// }

.downSlider {
	display: none;

	@include media-min($breakpoint-tablet) {
		display: block;
		margin-top: 20px;
	}

	:global {
		.slick-list {
			// max-width: 500px;
			overflow: hidden;
			max-height: 123px;
		}

		.slick-slide {
			padding: 0;
			// background-color: lightcoral;

			@include media-min($breakpoint-laptop) {
				height: 123px !important;
				width: 132px !important;
			}
		}
	}

	.item {
		width: 100%;
		height: 100%;
		padding: 0 10px;

		@include media-min($breakpoint-tablet) {
			height: 94px !important;
			width: 105px !important;
		}

		@include media-min($breakpoint-laptop) {
			height: 123px !important;
			width: 132px !important;
		}
	}
}

.upSlider {
	.item {
		@include media-min($breakpoint-tablet) {
			height: 280px !important;
			width: 320px !important;
		}

		@include media-min($breakpoint-laptop) {
			height: 470px !important;
			width: 540px !important;
		}
	}
}

.item:focus,
.image:focus {
	outline: none;
}

// :global {
//   .slick-slider {
//     overflow: hidden;
//     border: none;
//     outline: none;
//     padding: 0;
//     position: relative;
//   }

//   .slick-slide {
//     padding: 0;
//     // background-color: lightcoral;
//   }

//   .slick-current {
//     padding: 0;

//     @include media-min($breakpoint-tablet) {
//       padding: 0;
//     }
//   }

//   .slick-dots {
//     position: absolute;
//     bottom: 14px !important;
//   }

//   .slick-dots li {
//     width: 14px !important;
//     height: 14px !important;
//   }

//   .slick-dots li.slick-active button {
//     width: 14px !important;
//     height: 14px !important;
//     background-color: var(--button);
//   }
// }

.sliderContainer {
	margin-top: 20px;
	margin: auto;

	@include media-min($breakpoint-tablet) {
		width: calc((100% - 46px) / 2);
	}

	:global(.slick-current) {
		padding: 0;

		@include media-min($breakpoint-tablet) {
			padding: 0;
		}
	}

	@include media-min($breakpoint-tablet) {
		margin-top: 0;
	}

	@include media-min($breakpoint-laptop) {
		max-width: 540px;
	}

	// .slick-slide {
	//   width: 375px !important; // Ширина слайдера
	//   height: 260px !important; // Висота слайдера
	// }

	.mainSlider {
		position: relative;

		:global(.slick-dots) {
			z-index: 999;
			position: absolute;
			// bottom: 10px;
			margin-bottom: 30px;

		}
	}

	.mainSlide {
		width: 375px !important; // Ширина слайдера
		height: 260px !important;
		margin: 0 auto;
		overflow: hidden;
		border-radius: 10px;
		padding: 0;

		&.active {
			padding: 0;
		}

		@include media-min($breakpoint-tablet) {
			height: 280px !important;
			width: 320px !important;
		}

		@include media-min($breakpoint-laptop) {
			height: 470px !important;
			width: 540px !important;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.previewContainer {
		display: none;
		// @media (max-width: 768px) {

		// }

		@include media-min($breakpoint-tablet) {
			display: flex;
			overflow: hidden;
			justify-content: center;
			gap: 10px;
			margin-top: 15px;
			width: 480px;
		}

		@include media-min($breakpoint-laptop) {
			width: 540px;
		}
	}

	.previewItem {
		@include media-min($breakpoint-tablet) {
			height: 94px !important;
			width: 105px !important;
		}

		@include media-min($breakpoint-laptop) {
			height: 123px !important;
			width: 132px !important;
		}

		border: 2px solid transparent;
		cursor: pointer;
		transition: transform 0.3s,
		border-color 0.3s;

		&:hover {
			transform: scale(1.1);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 5px;
		}

		&.active {
			border: 2px solid #c3f7a2;
		}
	}

	.previewImage {
		position: relative;

		height: 100%;
	}
}