.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0px 0px 40px;
  padding: 0px 63px;
  @media (min-width: 768px) {
  }
}

.button {
  width: 125px;
  padding: 10px 0px;
  border-radius: 10px;
  color: var(--label, #000);
  font-size: var(--large-body-medium);
  font-weight: 400;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-bottom: none;

  @media (min-width: 768px) {
    font-size: var(--f-size-h3);
    padding: 10px 0px;
  }
  @media (min-width: 1024px) {
  }
}

.buttonActive {
  border-bottom: 1px solid #000000;
  padding-bottom: 9px;
}
