.buttonWrapper {
  width: 124px;
  padding: 10px 13px;
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--f-size-h4);
  text-align: center;
}

// .active {
//   border-bottom: 1px solid gray;
// }
