.iconsWrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  // width: 80px;
  // height: 32px;
  // padding: 16px 8px;

  // @media screen and (min-width: 768px) {
  //   justify-content: center;
  // }
  // @media screen and (min-width: 1280px) {
  //   justify-content: space-between;
  // }
}
