@import "@/styles/breakpoints";
@import "@/styles/mixins";

.containerMiddleCard {
	width: 163px;
	min-height: 242px;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
	padding: 8px 12px;
	margin: 0 auto;
	border: 1px solid var(--border);
	border-radius: 10px;
	transition: transform 250ms ease;

	@include media-min($breakpoint-tablet) {
		width: 649px;
		padding: 32px 24px;
		justify-content: space-around;
		border-radius: 32px;
	}

	@include media-min($breakpoint-laptop) {
		width: 100%;
	}

}

// .containerMiddleCard:hover {
// 	transform: scale(1.02);
// }

.description {
	padding-right: 70px;
	margin-top: 12px;
	display: none;

	@include media-min($breakpoint-tablet) {
		display: block;
		margin-top: 20px;
	}
}

.wrapperButton {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.heart,
.heartSelect {
	// width: 40px;
	// height: 40px;
	// margin-left: -5px;
	position: absolute;
	top: 110px;
	left: auto;
	right: 30px;
	bottom: auto;
	width: 24px;
	height: 24px;

	.icon_heart,
	.icon_heart_select {
		width: 24px;
		height: 24px;
	}

	.icon_heart_select {
		fill: var(--error);
	}

	@include media-min($breakpoint-tablet) {
		top: 32px;
		width: 38px;
		height: 38px;

		.icon_heart,
		.icon_heart_select {
			width: 38px;
			height: 38px;
		}
	}
}

// .heartSelect {}

// .link {
// 	transition: opacity 0.2s ease;
// }

// .link:hover {
// 	opacity: 70%;
// }

// .arrowButton {
// 	width: 32px;
// 	height: 32px;
// 	margin: 5px 12px 0 10px;

// 	@include media-min($breakpoint-tablet) {
// 		position: absolute;
// 		width: 48px;
// 		height: 48px;
// 		right: 14px;
// 		bottom: 40px;
// 	}
// }

.dateText {
	margin-top: -10px;
	font-size: var(--body-mobile-text-small);
	color: var(--input-text);
	// position: relative;
	// left: -8px;
	text-align: right;

	@include media-min($breakpoint-tablet) {
		font-size: 14px;
		font-weight: 700;
		// left: 0;
		margin-top: 0;

	}
}