@import "@/styles/mixins";
@import "@/styles/breakpoints";

.savedMessagesHeaderBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5.5px 0px;

  @include media-min($breakpoint-tablet) {
    padding: 9px 0px;
  }

  & .arrow {
    width: 20px;
    height: 15px;
    margin-right: 10px;
    @include media-min($breakpoint-tablet) {
      margin: 0px 20px 0px 12px;
    }
  }

  & .text {
    display: flex;
    align-items: center;
    font-size: var(--body-text);
    @include media-min($breakpoint-tablet) {
      font-size: var(--f-size-h4);
    }
  }
}

.iconHeart,
.iconFolder {
  cursor: auto;
  width: 32px;
  height: 32px;
  @include media-min($breakpoint-tablet) {
    margin-right: 21px;
    width: 24px;
    height: 24px;
  }
}

.preloader {
  padding: 0;
}

.hidden {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}
