.submitBtn {
        width: 420px;
        height: 51px;
        padding: 16px 40px 16px 40px;
        gap: 10px;
        border-radius: 10px;
        opacity: 0px;
        font-size: 16px;
    }

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    // height: 350px;
    margin: auto;
    margin-top: 50px;
    gap: 18px;
   
}

.form input {
    color: black;
    background: inherit;
    width: 420px;
    height: 43px;
    border-radius: 6px;
    border: 1px solid #838282;
    padding: 5px;
    text-align: center;
    transition: all 250ms ease;
}

.form input:hover,
.form input:focus,
.form input:active {
    border: 2px solid #1825e0;
    outline-style: none;
}