@use "@/styles/breakpoints" as *;
@use "@/styles/mixins" as *;

.containerCardItem {
	width: 158px;
	min-height: 374px;
	height: 100%;
	display: flex;
	flex-direction: column;
	// gap: 10px;
	padding: 16px 12px;
	border: 1px solid rgba(184, 221, 5, 0.40);
	border-radius: 10px;
	transition: transform 250ms ease;

	&:hover {
		border: 1px solid rgba(184, 221, 5, 1);
	}

	@include media-min($breakpoint-tablet) {
		width: 248px;
		justify-content: space-around;
	}

	// @include media-min($breakpoint-laptop) {
	// }

	.imageWrapper {
		width: 134px;
		height: 193px;
		overflow: hidden;
		position: relative;
		border-radius: 8px;

		@include media-min($breakpoint-tablet) {
			width: 224px;
			height: 224px;
		}
	}

	.image {
		object-fit: cover;
		width: 100%;

		// @include media-min($breakpoint-tablet) {
		// 	height: auto;
		// }
	}

	.stateWrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 12px;
	}

	.state {
		font-size: var(--body-mobile-text);
		text-transform: uppercase;
		color: #028A00;
		padding: 4px 6px;
		background-color: #e7e6e6;
		border-radius: 4px;

		@include media-min($breakpoint-tablet) {
			border-radius: 8px;
			font-weight: 400;
			padding: 7px 10px;
		}
	}

	.stateNotNew {
		color: #2e2c02;
	}


	.favouriteBtn {
		transition: transform 250ms ease;
		transform-origin: bottom right;
		width: 28px;
		height: 28px;
		position: relative;
		top: -2px;

		&:hover {
			transform: scale(1.1);
		}

		.icon_heart,
		.icon_heart_select {
			width: 22px;
			height: 22px;
			margin-top: 3px;
			margin-right: 0;

			@include media-min($breakpoint-tablet) {
				width: 28px;
				height: 28px;
			}
		}

		.icon_heart_select {
			fill: var(--error);
		}

		@include media-min($breakpoint-tablet) {
			width: 36px;
			height: 36px;
		}
	}

	.title {
		// font-weight: 700;
		min-height: 39px;
		margin: 6px 0;
		letter-spacing: 0.16px;

		@include media-min($breakpoint-tablet) {
			margin-bottom: 16px;
			margin-top: 10px;
		}
	}

	.dateText {
		font-size: var(--body-mobile-text-small);
		color: #777676;
		margin-bottom: 24px;

		@include media-min($breakpoint-tablet) {
			font-size: 12px;
			margin-bottom: 16px;
		}
	}

	.price {
		font-weight: 700;
		margin-top: auto;

		// @include media-min($breakpoint-tablet) {

		// }
	}
}