@import "@/styles/mixins";
@import "@/styles/breakpoints";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 400px;
  margin-top: 25px;
  height: fit-content;
  // height: 60px;
}

.picture img {
  border-radius: 50%;
  object-fit: cover;
}

.noPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--bg-header-footer);

  & svg {
    width: 30px;
    height: 30px;
    color: white;
  }
}

.textWrapper {
  display: flex;
  justify-content: space-between;
  width: 330px;
  padding: 11px 8px 11px 22px;
  column-gap: 10px;
  // height: 60px;
  & .text {
    display: flex;
  }
  & .time {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    color: var(--input-text);
  }
}
