@import "@/styles/mixins";
@import "@/styles/breakpoints";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 410px;
  margin-top: 25px;
  height: fit-content;
}

.picture img {
  border-radius: 50%;
  object-fit: cover;
}

.noPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--bg-header-footer);

  & svg {
    width: 30px;
    height: 30px;
    color: white;
  }
}

.textWrapperLeft,
.textWrapperRight {
  // width: 330px;
  width: 360px;
  position: relative;
  display: flex;
  order: 2;
  justify-content: space-between;
  column-gap: 10px;
  padding: 11px 8px 11px 22px;
  // height: 60px;
  border-radius: 0 10px 10px 0;
  & .text {
    // display: flex;
    word-break: break-word;
  }
  & .time {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    color: var(--input-text);
  }
}

.textWrapperRight {
  padding: 11px 20px 11px 22px;
  border-radius: 10px 0 0 10px;
}

.leftSign::after {
  content: "";
  position: absolute;
  bottom: 1px;
  right: 0px;
  width: 12px;
  height: 100%;
  background-color: var(--background);
  border-bottom-left-radius: 80%;
  // transform: rotate(45deg);
}
.rightSign::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0px;
  width: 12px;
  height: 100%;
  background-color: var(--background);
  border-bottom-right-radius: 80%;
  // transform: rotate(45deg);
}
