.listBox {
    width: 100%;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button {
    width: 100%;
    height: 51px;
    border-radius: 10px;
}

// .cancelBtn {
//     width: 100%;
//         height: 51px;
//         border-radius: 10px;
//         border: 1px solid black;
// }

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.content > h3 {
    text-align: center;
    font-size: 20px;
}