@import "../../../../styles/mixins";
@import "../../../../styles/breakpoints";

.box {
  width: 100%;
  height: auto;
  position: relative;
}

.arrowBackBtn {
  position: absolute;
  top: -10%;
  left: 0;
  @include media-min($breakpoint-tablet) {
    display: none;
  }
}

.headline {
  font-size: var(--f-size-h4);
  @include media-min($breakpoint-laptop) {
    font-size: var(--f-size-h3);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 33px;

  @include media-min($breakpoint-laptop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 300px;
  }
}

.userImageBox {
  display: inline-flex;
  flex-direction: column;
  width: 142px;
  font-size: 14px;
  @include media-min($breakpoint-laptop) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.editText {
  align-self: center;
  color: #6735f4;
}

.userImage {
  width: 142px;
  height: 142px;

  @include media-min($breakpoint-tablet) {
    width: 258px;
    height: 258px;
    margin-bottom: 20px;
  }
}

.listBox {
  display: flex;
  flex-direction: column;

  @include media-min($breakpoint-laptop) {
    margin-top: 50px;
  }
}

.userData {
  width: 100%;
  margin-bottom: 50px;
}

.changePassBtn {
  width: 186px;
  height: 44px;
  border-radius: 10px;
  align-self: flex-end;

  @include media-min($breakpoint-tablet) {
    width: 214px;
    height: 48px;
    border-radius: 10px;
    align-self: flex-start;
    // margin-bottom: 20px;
  }
}

.deleteBox {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 20px;
}

.deleteLink {
  color: #ff5656;
}

.editSvg {
  width: 26px;
  height: 26px;
}

.dangerZone {
  font-size: var(--large-body-medium);
  font-weight: 500;
}

.separeteLine {
  width: 335px;
  fill: #9d9d9d;
  @include media-min($breakpoint-tablet) {
    width: 427px;
  }
}
