@import "../../../../styles/mixins";
@import "../../../../styles/breakpoints";

.box {
    width: 100%;
    height: 421px;
}

.headline {
    font-size: var(--f-size-h3);
    margin-bottom: 33px;
}


.wrapper {
    display: flex;
    flex-direction: column;
        gap: 33px;
    
    @include media-min($breakpoint-laptop) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 300px;
    }
}

.userImageBox {
    font-size: 14px;
    @include media-min($breakpoint-laptop) {
                display: flex;
                    flex-direction: column;
                    align-items: center;
        }
}


.list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    @include media-min($breakpoint-laptop) {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}

.listItemName {
    font-size: var(--f-size-h3);
    font-weight: 700;
}

.listItem {
    font-size: 20px;
        font-weight: 400;
    @include media-min($breakpoint-laptop) {
            width: 427px;
        }
}

.userImage {
    width: 142px;
    height: 142px;

    @include media-min($breakpoint-tablet) {
        width: 258px;
        height: 258px;
        margin-bottom: 20px;
    }
}

.changePassBtn {
    width: 186px;
        height: 44px;
    border-radius: 10px;
    align-self: flex-end;
@include media-min($breakpoint-tablet) {
        width: 214px;
        height: 48px;
        border-radius: 10px;
        // margin-bottom: 20px;
    }
}